/*table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right: 1px solid #dee2e6 !important;
}

table.table-bordered.dataTable td:first-child, table.table-bordered.dataTable td:first-child {
    border-left: 1px solid #dee2e6 !important;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child {
    border-right: 1px solid #dee2e6 !important;
}

table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable th:first-child {
    border-left: 1px solid #dee2e6 !important;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    vertical-align: middle;
}*/